.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.board__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  flex: 1 1 0;
}

.board__row:not(:last-child) {
  margin-bottom: 5px;
}