.end-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  animation: fade-in 1s;
  overflow: auto;
}

.end-screen--fadeout {
  animation: fade-out 0.2s linear forwards;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end__score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 250px;
  height: 100%;
  width: 100%;
}

.score__item {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  font-size: 25px;
  margin: 10px 0px;
}

.end__nav {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
  margin-bottom: 10px;
}