*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #555;
}

#root {
  height: 100%;
}

.wrapper {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: #fff;
}

.start-screen__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #888;
  height: 80px;
  padding: 10px 15px;
  border-radius: 2px 2px 0px 0px;
  font-size: 25px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 15px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 250px;
  margin: 10px 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 23px;
  transition: opacity 0.3s linear;
}

.card--matched {
  opacity: 0;
}

