*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: #fff;
}

.start-screen__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
}

.end-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: #fff;
}

.end-screen__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #888;
  height: 80px;
  padding: 10px 15px;
  border-radius: 2px 2px 0px 0px;
  font-size: 25px;
}

.board {
  padding: 10px 0px 0px 10px;
}

.board__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24%;
  height: 250px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 23px;
}

.card--closed {
  background-color: #fff;
}

.card--matched {
  cursor: initial;
  animation: card-matched 1s ease-out forwards;
}

@keyframes card-matched {
  0% {
    transform: scale(1);
  }
  30% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

