.board {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 200px;
  background-color: #333;
  color: #fff;
}
