.start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 10px;
  transition: opacity 0.2s linear;
}

.start-screen--fadeout {
  opacity: 0;
}

.start-screen--fadein {
  animation: fade-in 0.2s linear;
}

.start-screen__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.start-screen__name {
  font-size: 45px;
  margin-top: 15px;
}

.mode {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  justify-content: center;
}

.mode__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  min-width: 0;
  height: 120px;
  border: 1px solid #000;
  font-size: 25px;
  font-weight: 400;
}

.mode__item:first-child {
  margin-right: 30px;
}

.grid-options {
  display: flex;
  margin: 10px 0px;
}

.grid-options__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 120px;
  border: 1px solid #000;
  font-size: 25px;
}

.grid-options__item:first-child {
  margin-right: 30px;
}

