.start-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 10px;
  transition: opacity 0.2s linear;
}

.start-screen--fadeout {
  opacity: 0;
}

.start-screen--fadein {
  animation: fade-in 0.2s linear;
}

.start-screen__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 15px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.start-screen__name {
  font-size: 45px;
  margin-top: 15px;
}

.mode {
  display: flex;
  margin: 10px 0px;
  width: 100%;
  justify-content: center;
}

.mode__item {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  min-width: 0;
  height: 120px;
  border: 1px solid #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  box-shadow: 2px 2px 2px 0px #000;
}

.mode__item:first-child {
  margin-right: 30px;
}

.mode__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.60);
}

.mode__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mode__item.active .mode__description {
  opacity: 0;
}

.mode__item.active .mode__overlay {
  opacity: 0;
}

.grid-options {
  display: flex;
  margin: 10px 0px;
}

.grid-options__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 120px;
  border: 1px solid #000;
  font-size: 25px;
}

.grid-options__item:first-child {
  margin-right: 30px;
}

.grid-options__item.active {
  border: 2px solid #000;
  font-weight: 700;
}
